/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */
@import url("https://bonkmaykrq.github.io/gbubers/snippets/oldalertsdark.css");

#SecondaryNav {
	background: #7d40717a !important;
	backdrop-filter: blur(2px);
}

#PrimaryNav, li.Post {
	backdrop-filter: blur(2px);
}

#PrimaryNav module pane, #SecondaryNav wrapper .Selected pane {
	background: #7d4071aa !important;
	backdrop-filter: blur(10px) !important;
}

:root {
	--NavPaneBackgroundColor:#5d3055a3 !important;
	
	--PrimaryNavBackgroundColor:#7d4071f5 !important;
	
	--FixedMainContentHeaderBackground:#5d3055a3 !important;
	--SubNavigatorActiveTabBorderColor:#5d3055a3 !important;
	--SubNavigatorBorderColor:#5d3055a3 !important;
}

#StatsModule .Content ul li {
	backdrop-filter: blur(5px) !important;
}

body[data-_sSecondaryNavMode=Dock][data-_sSecondaryNavPosition=Left][data-_sHeaderStyle=Floating] #MainContentHeader.Fixed {
	backdrop-filter: blur(5px) !important;
}
